<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container-wrapper">
        <nav>
            <!-- dynamic links for the navigation menu. The 'href' attribute is set using Flask variables -->
            <!-- content between curly brackets are placeholders that Flask replaces with urls when rendering the template -->
            <a href="{{ nav_urls.home_url }}">Home</a> <!-- link to the Home page -->
            <a href="{{ nav_urls.about_url }}">About</a> <!-- link to the about page -->
            <a href="{{ nav_urls.portfolio_url }}">Portfolio</a> <!-- link to the portfolio page -->
            <a href="{{ nav_urls.contact_url }}">Contact</a> <!-- link to the contact page -->
        </nav>

        <!-- placeholder for child templates to insert custom content -->
        {% block body_content %}
        {% endblock %}

        <footer>&copy; Bek &amp; Katy for SKY Get Into Tech, 2024</footer>
    </div>
</body>
</html>