{% extends "layout.html" %}
{% block body_content %}
    <main>
        <h1>Portfolio Page</h1>
        <section>
            <div class="portfolio-item colourway-1">
                <div class="portfolio-title">
                    <a href="{{external_url_project_1}}" target="_blank">
                        <h2>PPC News</h2>
                    </a>
                </div>
                <div class="content-container">
                    <div class="image">
                        <a href="{{external_url_project_1}}" target="_blank">
                            <img src="{{image_src_project_1}}">
                        </a>
                    </div>
                    <div class="text">
                        <p>PPC News final project website for Code First Girls Web Development Kickstarter eight week course.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin mi odio, quis malesuada felis commodo quis.</p>
                        <p>Proin semper, justo at sollicitudin pellentesque, tortor nunc sollicitudin mauris, quis dignissim tortor odio non nulla.</p>
                        <p>Donec vulputate, justo vitae sollicitudin consectetur, dolor neque egestas diam, convallis malesuada lectus mi non arcu.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="portfolio-item colourway-2">
                <div class="portfolio-title">
                    <a href="{{external_url_project_2}}" target="_blank">
                        <h2>3 Column Preview Card Component</h2>
                    </a>
                </div>
                <div class="content-container">
                    <div class="image">
<!--                        <a href="{ external_url_project_2 }" target="_blank">-->
<!--                            <img src="{image_src_project_2}">-->
<!--                        </a>-->
                        <a href="{{ external_url_project_2 }}" target="_blank">
                            <img src= "{{ image_src_project_2 }}">
                        </a>
                    </div>
                    <div class="text">
                        <p>A Frontend Mentor challenge.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin mi odio, quis malesuada felis commodo quis.</p>
                        <p>Proin semper, justo at sollicitudin pellentesque, tortor nunc sollicitudin mauris, quis dignissim tortor odio non nulla.</p>
                        <p>Donec vulputate, justo vitae sollicitudin consectetur, dolor neque egestas diam, convallis malesuada lectus mi non arcu.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="portfolio-item colourway-1">
                <div class="portfolio-title">
                    <a href="{{external_url_project_3}}" target="_blank">
                        <h2>NFT Preview Card Component</h2>
                    </a>
                </div>
                <div class="content-container">
                    <div class="image">
                        <a href="{{external_url_project_3}}" target="_blank">
                            <img src="{{image_src_project_3}}">
                        </a>
                    </div>
                    <div class="text">
                        <p>A Frontend Mentor challenge.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin mi odio, quis malesuada felis commodo quis.</p>
                        <p>Proin semper, justo at sollicitudin pellentesque, tortor nunc sollicitudin mauris, quis dignissim tortor odio non nulla.</p>
                        <p>Donec vulputate, justo vitae sollicitudin consectetur, dolor neque egestas diam, convallis malesuada lectus mi non arcu.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}